data/model.pt
data/checkpoint.pt
data/stdlib/*
data/stdlib-*/
data/stdlib.*
data/tokenized*
data/image/*

# Ignore all Python __pycache__ directories
__pycache__/


# Editable-install metadata
src/*.egg-info/
.venv/
